#!/bin/bash
export CNTLM_USERNAME=loginname
export CNTLM_DOMAIN=mydomain
export CNTLM_PROXY="proxy:8080"                                                                      
export CNTLM_WORKSTATION="hostname"
export CNTLM_LISTEN_IP=127.0.0.1

export CNTLM_PASSNTLMV2="35FFF9EEB41198045AB1234A4567AABB"
